html {
  scroll-behavior: smooth;
}

.App {
 
 overflow-x: hidden;
 scroll-behavior: smooth;
}
.text-style{
  font-size: 10vw;
  font-weight: 800;
  font-style: italic;
}
p{
  font-size: calc(8px + 2vmin);
}
.App-header {
 background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
  
}
nav{
  font-size: calc(12px + 2vmin);
  background-color: #373d47;
  z-index: 3;
  position: fixed;
  top:0;
  width: 100%;
 
}
ul{
  width: 100%;
  padding:0;
  margin:0;
  align-items: center;
  justify-content: center;
  display: flex;
  list-style-type: none;
}
ul>li{
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  filter: grayscale(100%) opacity(0.7);
  background-color: #282c34;
  height: 80px;
}
li:hover{
  filter: grayscale(0%) opacity(1);

}
svg, li{
  transition: all 1s ease;
}
li:hover svg{
  color: var(--primary-color);
}

.header{
  background-color: #282c34;
  z-index: 2;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}


:root{
  --primary-color:#69C9D0;
  --secondary-color:#EE1D52;
  --background-color:#282c34;
}
.row{
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.row-column{
  display: flex;
    align-items: center;
    flex-direction: column;
}
.text-container{
  position: relative;
  z-index: 1;
  min-height: 350px;
  width: 60%;
}
.text-container>h1,h2,h3{
  position: relative;
  margin:0;
}

.text-container>h1{
  color:var(--secondary-color);
}
.img-container{
  height: 300px;
  width: 300px;
  border-radius: 50%;
    display: inline-block;
    position: relative;
    margin:10px;
}

.header-img{
  width: 100%;
  max-width: 600px;
  height: auto;
  position: absolute;
  bottom:0;
  right:0;
}
  

.img-container>img{
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: #282c34;
  z-index: 2;
}
.img-container:after, .img-container:before{
  content:"";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-style:solid;
  border-width: 5px;
}
.img-container:before{
  border-color: var(--secondary-color);
  top:0px; left: 10px;
 
}
.img-container:after{
border-color: var(--primary-color);
  top: 15px; left: 5px;
}
.large{
  color: var(--secondary-color);
  margin: 0;
  display: inline;
}
#text-effect{
  color:var(--secondary-color);
  position: relative;
  font-size: 7vw;
}
#text-effect:after{
  content:"";
  position: absolute;
  width: 2px;
  height: 100%;
  border-right: 3px solid var(--primary-color);
  animation:0.5s blink infinite ease;
}
.background{
  min-height: 100vh;
  position: relative;
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background>div{
  z-index: 2;
  padding:10%;
}

.cv-image{
  width: 100%;
  position: absolute;
  filter: grayscale(1);
  bottom: 0;
  left: -120px;
  min-width: 400px;
  max-width: 800px;
}

.title{
  position: absolute;
    left: -1vw;
    top:-5vw;
}
/* .title:after{
  content:"";
  position: absolute;
  width: 2px;
  height: 100%;
  border-right: 3px solid var(--primary-color);
  animation:0.5s blink infinite ease;
} */
a{
  height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}
.icons{
  display: none;
}
#gallery svg{
  top: -15vw;
  position: absolute;
}
.btn-primary{
  width: auto;
  height: auto;
  font-size: calc(12px + 2vmin);
 
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-width: 300px;
  
  padding: 10px;
  margin: 5px;
}
.btn-primary span{
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
  transition: all  0.5s ease;
}

.btn-primary:hover div {
  transform-origin: left;
  width: 100%;
}
.btn-primary:hover span{
  color: #282c34;
}
.btn-primary div{
 
width: 0;
  z-index: 1;
left:0;
top: 0;
  height: 100%;
  transition: all 0.5s ease;
  position: absolute;
  background-size: cover;
  
  background-repeat: no-repeat;

  
}
.projects{
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*.grid{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
  'grid1 grid1 grid2'
  'grid3 grid4 grid2';
  height:60vh;
  position: absolute;

    grid-gap: 10px;
}
.grid>div:nth-child(1){
 grid-area: grid1;
}
.grid>div:nth-child(2){
  grid-area: grid2;
}
.grid> div:nth-child(3){
 grid-area: grid3;
}
.grid>div:nth-child(4){
  grid-area: grid4;
} */
.card{
  
 height: 250px;
 width: 250px;
 margin: 2px;
 top:0;
  border-radius: 15px;
  position: relative;
  transition: top 1s ease;
  background-color: var(--secondary-color);
  box-shadow: 
  0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.circle-buttons-container{
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.circle{
  background-color: var(--background-color);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path:circle(100px at 50% 50%);
  transition: 0.5s ease-in-out;
display: flex;
justify-content: center;
align-items: center;
}
.circle>img{
  transition: 0.5s ease-in-out;
  width: 50%;
}
.card:hover .button-container{
  bottom: 0;
}
.card:hover .circle{
  clip-path:circle(150px at 50% -10%);
}
.card:hover .card-title{
  top:-30px;
}
.card:hover .circle> img{
  width: 100%;
}

.card-title{
  top:25%;
  width: 100%;
  transition: 0.5s ease-in-out;
  text-align: center;
  z-index: 2;
  filter:drop-shadow(2px 4px 6px black);
  position: absolute;

}
.button-container{
  transition: bottom 1.5s ease;
    position: absolute;
    bottom: -200px;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}
footer{
  position: relative;
  background-color: var(--secondary-color);
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  display: flex;
  align-items: center;
}
footer .row-column{
  align-items:flex-start;
  padding: 10px;
}
footer> .row{
 padding:100px;
}
#contact-row-column .row{
  justify-content: flex-start;
}

.font-large{
  font-weight: 700;
}

@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width: 425px) { 
  .text-container{
    width: 80%;
  }
  #text-effect{
    font-size: 10vw;
  }
  .text-style{
    font-size: 20vw;
  }
  #gallery{
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .btn-primary{
    width: 60%;
  }
  .row{
    width: 100%;
  }.text-container{
    font-size: 17px;
  }
 
  .card-title{
    left:0;
    
  }.icons{
    display: block;
  }
 
 nav{
   top:auto;
   bottom: 0;
   width: 100vw;
 }

 li>a>span{
   display: none;
 }
} 